<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <th:block th:include="fragments/main :: head"></th:block>

        <link rel="stylesheet" type="text/css" media="all"
              href="../static/css/holidays.css"
                  th:href="@{/css/holidays.css}"/>
    </head>
             
    <body>
    
        <div class="container-fluid">
    
            <div class="header row" th:include="fragments/main :: header"></div>
            
            <div class="holidays panel panel-info">
                <div class="panel-heading">
                    <h4 th:text="#{holidays.description}"></h4>
                </div>
                <div class="panel-body">
                    <form id="holidays-form" class="form-inline" th:action="@{/holidays}" method="GET">
                        <label for="startDate" th:text="#{holidays.start-date-label}"></label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input class="form-control" type="date" id="startDate" name="startDate">
                        </div>
                        <label for="endDate" th:text="#{holidays.end-date-label}"></label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input class="form-control" type="date" id="endDate" name="endDate">
                        </div>
                    </form>
                    <input class="btn btn-primary holidays-calculate" type="submit" form="holidays-form" th:value="#{holidays.calculate}"></input>
                    <div class="holidays-result">
                        <span th:text="#{holidays.result-label}"></span>
                        <span id="holidays-result-field" th:text="${holidaysCount}"></span>
                    </div>
                </div>
                    
            </div>
            
        </div>
        
        <script>
            const holidaysForm = document.getElementById('holidays-form');
            const startDateInput = document.getElementById('startDate');
            const endDateInput = document.getElementById('endDate');
            const holidaysResultField = document.getElementById('holidays-result-field');
            
            const actionUrl = holidaysForm.getAttribute('action');
            
            let isWaitingForAjaxResults = false;
            holidaysForm.addEventListener('submit', function(event) {
                const ajaxGetUrl = actionUrl + '?startDate=' + startDateInput.value + '&' + 'endDate=' + endDateInput.value;
                event.preventDefault();
                
                if (!isWaitingForAjaxResults) {
                    isWaitingForAjaxResults = true;
                    
                    const promise = new Promise((resolve, reject) => {
                        const xhr = new XMLHttpRequest();
                        xhr.open('GET', ajaxGetUrl, true);
                        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                        
                        xhr.onload = function () {
                            if (this.status === 200) {
                              resolve(this);
                            } else {
                              const error = new Error(this.statusText);
                              error.code = this.status;
                              reject(error);
                            }
                        };

                        xhr.onerror = function () {
                          reject(new Error('Network Error'));
                        };

                        xhr.send();
                    });
                    
                    promise.then((request) => {
                        holidaysResultField.textContent = request.response;
                        isWaitingForAjaxResults = false;
                    })
                    .catch(console.log);
                }
            });
        </script>

    </body>
             
</html>